source/obj_dir*/
source/wave.vcd
source/simulation_output.txt
source/topCPU_tb_output.txt
source/topCPU_tb_debug.txt
source/topCPU_tb_konata.trace
source/coremark_branch.csv
.tools/
compliance/act4/work/
third_party/riscv-arch-test/work/
